.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
}
.profile-image{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    
}
body{
    display: flex;
    justify-content: center;
    min-height: 100vh;
    background: url('3.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    display: block;
}
  a{
    text-decoration: none;
    text-transform: uppercase;
    text-decoration: rgb(0, 0, 0);
    color: black;
    font-weight: 900;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #fff;
    padding: 15px;
    border-radius: 4px;
    box-sizing: border-box;
    border-radius: 70px;
}
.asdf{
    background-color: #494747;
    padding: 17px;
    border-radius: 4px;
    box-sizing: border-box;
    border-radius:270px;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 200px;
    margin-right: 200px;
}
 .jk{
    text-align: center;
    align-items: center;
    font-weight: 300;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: oblique;
    background-color: rgb(183, 212, 203);
    border: 1px solid #b9aeae ;
    border-radius: 45px;
    border-style: none;
    display: block;
    padding: 20px;
    letter-spacing: 2px;
    word-spacing: 4px;
    margin: 20px;
    margin-left: 190px;
    margin-right: 190px;
} 
.main-jk{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: block;
    
} 
