*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    border: 2px solid black;
    display: flex;
    height: 70vh;
    justify-content: center;
    align-self:baseline;
}
.Box{
    border: 1px solid red;
    justify-content: space-evenly;
    margin: 0 10px;
    width: 50px;

}
